<%- include('partials/logged-in-header') -%>

<main class="masthead h-100">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="h-25 w-50 glass-card d-flex flex-column align-items-center justify-content-center gap-3">
      <h2>Woops! Did you get a little lost...</h2>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>
