<%- include('partials/logged-in-header') -%>

<main class="masthead h-100">
  <div class="h-100 entries-content">
    <div class="woops entries-container glass-card">
      <h2>Woops! Did you get a little lost...</h2>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>