<%- include('partials/logged-in-header') -%>

<main class="masthead">
  <div class="h-100 about-content">
    <div class="about-container glass-card text-center">
      <section class="about-section-1">
        <div class="logo-container">
          <img id="about-logo" src="/imgs/whitebrain.png" alt="the mindfully logo is the drawn outline of a brain">
        </div>
        <p>Mindfully is a journaling app that encourages daily reflection of your thoughts and experiences.</p>
      </section>
      <div class="about-p-section">
        <span class="lg-font">The biggest value of journaling is that it cultivates discipline.</span>
        <p>Using Mindfully consistently will help your thoughts become less random and chaotic, and more organized and understandable. <br> Mindfully serves as your safe space, without an audience, without judgement, so that you may release your thoughts and emotions and enhance your self-awareness. <br> As you open an honest dialogue with yourself, you will learn how to process your emotions, control your reactions, appreciate your experiences, and become more conscicous of everything going on around you and <em>within you.</em></p>
      </div>
      <div class="about-p-section">
        <span class="lg-font">Reflect on your past experiences with a fresh perspective.</span>
        <p>Using the calendar on your home page, you can visit previous dates to view your past entries. <br> As you explore this feature, you will notice that you cannot create a new entry on a past date. The art of mindfulness is being present. <br> Instead of trying to recall and write about what happened then, Mindfully encourages you to focus on today, and how you're feeling now.</p>
      </div>
      <div class="about-p-section">
        <span class="lg-font">Enriching reminders and affirmations on your home page promote awareness and appreciation.</span>
        <p>These positive quotes don't just inspire, but also help stop rumination so that you can redirect yourself into a positive mindset.</p>
      </div>
      <div class="about-p-section">
        <span class="lg-font">Choose from dozens of prompts to help guide your exploration of your thoughts and emotions.</span>
        <p>It's your experience: tailor your journaling sessions specifically to you by creating your own prompts.</p>
      </div>
      
    </div>
  </div>
</main>

<%- include('partials/footer') -%>