<%- include('partials/logged-in-header') -%>

<main class="add-new-entry-masthead masthead h-100">
  <div class="add-new-entry-content">
    <div class="add-new-entry-container">
        <form action="/addEntry/blank" method="GET">
          <button class="glass-card glass-card-hoverable new-entry-card">
            Give me a blank slate to allow me to mind dump...
          </button>
        </form>
        <form action="/addEntry/prompt" method="GET">
          <button class="glass-card glass-card-hoverable new-entry-card">
            Give me a prompt to guide me through some feelings...
          </button>
        </form>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>