<%- include('partials/logged-in-header') -%>

<main class="masthead">
  <div class="blank-entry-content">
    <div class="blank-entry-container">
      <h2>Mind dump:</h2>
      <form action="/addEntry/blank/createEntry" method="POST" class="d-flex flex-column w-100">
        <div class="">
            <textarea id="blankTextEntry" name="blankTextEntry" class="form-control z-depth-1 textarea-shadow p-4" rows="18" placeholder="Write without judgement..." required></textarea>
        </div>
        <button type="submit" class="button-15 align-self-end mt-4">Release</button>
      </form>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>