<%- include('partials/header') -%>
  
<main id="index" class="d-flex align-items-center justify-content-center">
  <div class="h-100 container">
    <div class="h-100 d-flex justify-content-center align-items-center">
      <div class="h-50 index-glass-card text-center d-flex flex-column justify-content-center align-items-center">
        <h1 class="fw-light" id="index-title">Let's grow, today</h1>
        <div class="w-100 d-flex justify-content-center mt-5 gap-4">
          <a href="/login" class="col-4 btn btn-primary"> Login</a>
          <a href="/signup" class="col-4 btn btn-primary"> Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>