<%- include('partials/header') -%>
  
<main class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="fw-light">Let's grow, today</h1>
        <div class="row justify-content-center mt-5 gap-5">
          <a href="/login" class="col-3 btn btn-primary"> Login</a>
          <a href="/signup" class="col-3 btn btn-primary"> Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>