<%- include('partials/header') -%>

<main class="masthead h-100">
  <div class="h-100 container d-flex justify-content-center align-items-center">
    <div class="container index-container glass-card">
        <h1 class="fw-light" id="index-title">Let's grow, today</h1>
        <div class="index-buttons-container">
          <a href="/login" class="btn btn-primary"> Login</a>
          <a href="/signup" class="btn btn-primary"> Sign Up</a>
        </div>
    </div>
  </div>
</main>