<%- include('partials/logged-in-header') -%>

<main class="masthead h-100">
  <div class="h-100 entries-content">
    <div class="woops entries-container glass-card text-center">
      <h2>It looks like no entries were found for this date.</h2>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>