<%- include('partials/logged-in-header') -%>

<main class="masthead">
  <div class="d-flex h-100 align-items-center justify-content-center">
    <div class="h-100 w-50 d-flex flex-column align-items-center justify-content-center gap-3">
      <h2>It looks like no entries were found for this date.</h2>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>
