<%- include('partials/logged-in-header') -%>

<main class="masthead">
  <div class="d-flex h-100 align-items-center justify-content-center mt-5">
    <div class="w-50 d-flex flex-column align-items-center justify-content-center gap-5">
	  <div class="container user-info-container glass-card justify-content-center align-items-center text-center">
		<p class="mb-2">Welcome, <%- username %></p>
		<% if (currentHour >=20 || currentHour == 00 || currentHour < 5) { %>
			<p class="greeting">Get some sleep!</p>
		<% } else if (currentHour >=5 && currentHour < 11) { %>
			<p class="greeting">Good morning</p>
		<% } else if (currentHour >= 11 && currentHour < 16) { %>
			<p class="greeting">Good afternoon</p>
		<% } else { %>
			<p class="greeting">Good evening</p>
		<% } %>
		<div class="streak-container d-flex justify-content-center">
			<div class="streak-section">
				<p>number</p>
				<p>Total Contributions</p>
				<p>DateStartedJournaling - Present</p>
			</div>
			<div class="streak-section streak-section-middle">
				<img src="/imgs/flame7ffdd9.png" id="flame-icon" alt="">
				<p class="mt-3">Current Streak</p>
				<p>Date - Date</p>
			</div>
			<div class="streak-section">
				<p>number</p>
				<p>Longest Streak</p>
				<p>Date - Date</p>
			</div>
		</div>
	  </div>
	  <div class="calendar-card w-100">
      	<section class="ftco-section">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-md-12">
	    				<div class="content">
	    			    <div class="calendar-container">
	    			      <div class="calendar"> 
	    			        <div class="year-header"> 
	    			          <span class="left-button fa fa-chevron-left" id="prev"> </span> 
	    			          <span class="year" id="label"></span> 
	    			          <span class="right-button fa fa-chevron-right" id="next"> </span>
	    			        </div> 
	    			        <table class="months-table w-100"> 
	    			          <tbody>
	    			            <tr class="months-row">
	    			              <td class="month">Jan</td> 
	    			              <td class="month">Feb</td> 
	    			              <td class="month">Mar</td> 
	    			              <td class="month">Apr</td> 
	    			              <td class="month">May</td> 
	    			              <td class="month">Jun</td> 
	    			              <td class="month">Jul</td>
	    			              <td class="month">Aug</td> 
	    			              <td class="month">Sep</td> 
	    			              <td class="month">Oct</td>          
	    			              <td class="month">Nov</td>
	    			              <td class="month">Dec</td>
	    			            </tr>
	    			          </tbody>
	    			        </table> 
                  
	    			        <table class="days-table w-100"> 
	    			          <td class="day">Sun</td> 
	    			          <td class="day">Mon</td> 
	    			          <td class="day">Tue</td> 
	    			          <td class="day">Wed</td> 
	    			          <td class="day">Thu</td> 
	    			          <td class="day">Fri</td> 
	    			          <td class="day">Sat</td>
	    			        </table> 
	    			        <div class="frame"> 
	    			          <table class="dates-table w-100"> 
	    		              <tbody class="tbody">             
	    		              </tbody> 
	    			          </table>
	    			        </div> 
							<div class="add-entry-container">
							</div>
	    			      </div>
	    			    </div>
	    			    <div class="entry-container">
	    			    </div>
	    			  </div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
	  </div>
    </div>
  </div>
</main>

<script>
    var userEntries = <%- JSON.stringify(entries) %>
</script>
<script src="/calendar/js/jquery.min.js"></script>
<script src="/calendar/js/popper.js"></script>
<script src="/calendar/js/bootstrap.min.js"></script>
<script src="/calendar/js/main.js"></script>


<%- include('partials/footer') -%>