<%- include('partials/logged-in-header') -%>

<main class="masthead">
  <div class="d-flex h-100 align-items-center justify-content-center">
    <div class="h-100 w-50 d-flex flex-column align-items-left justify-content-center gap-3">
      <form action="/prompts/createEntry" method="POST" class="d-flex flex-column">
        <select name="prompts" id="prompt-select" class="glass-card glass-card-hoverable">
          <% for(var i=0; i<prompts.length; i++) {%>
            <option><%= prompts[i].text %></option>
          <% } %>
        </select>
        <div class="">
            <textarea id="promptTextEntry" name="promptTextEntry" class="form-control z-depth-1 textarea-shadow p-4" rows="18" placeholder="Write without judgement..." required></textarea>
        </div>
        <button type="submit" class="button-15 align-self-end mt-4">Release</button>
      </form>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>
