:root {
  --title-color: rgb(0, 45, 68);
  --main-color: rgb(89, 183, 234);
}

*
{ box-sizing: border-box; }

body {
  background: #06083d;
  background-image: url('/imgs/ccchaosfadeout.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

main{
  height:100vh;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-bg {
  background-color: rgb(248, 249, 250, 0) !important;
}

.btn-primary {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

#site-logo{
  width:4%;
  padding-bottom: 2px;
}

.site-title{
  font-size:1.8rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: var(--title-color);
  padding-left: 2rem;
}

#index-title{
  color: white;
}

#logged-in-site-title{
  padding-right:5rem;
}

.navbar-nav{
  font-size:1rem;
}

.masthead {
  min-height: 90vh;
}

.index-glass-card{
  margin-top:1rem;
  width:70%;
  background: rgba( 255, 255, 255, 0.22 );
  box-shadow: 0 8px 32px 0 rgba(160, 166, 255, 0.25);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glass-card{
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 26px 0 rgba(66, 64, 62, 0.37);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.textarea-shadow{
  box-shadow: -10px 10px 15px 2px rgb(66, 64, 62, .37);
}

.new-entry-card{
  display:flex;
  align-items:center;
  justify-content:center;
  min-width:400px;
  min-height:400px;
  color:rgb(62, 62, 62, 0.8);
  font-size:x-large;
  text-align:center;
  margin: 0;
}

textarea::placeholder{
  font-style:italic;
  color:rgba(0, 0, 0, 0.5) !important;
}

textarea:focus, input:focus, .uneditable-input:focus {   
  border-color: rgba(191, 226, 255, 0.8) !important;
  box-shadow: -10px 10px 15px 2px rgba(229, 103, 23, 0.075) inset, 0 0 30px 5px rgba(38, 104, 179, 0.6) !important;
  outline: 0 none !important;
}

#promptTextEntry{
  padding: 0.8rem 1rem;
}